<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, eius.</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, cum! Saepe ut earum molestias necessitatibus distinctio ipsam aperiam harum commodi consequatur ipsa nemo, error enim velit fuga nam aliquam ipsum recusandae natus nihil voluptate reiciendis quia accusamus! Doloremque vero sint cum consequuntur provident, mollitia cumque reprehenderit. Nesciunt placeat molestiae nisi?
    </p>
    <button>
        click the button
    </button>
</body>
</html>